@using Lab_Test_5_Set_D.Models
@{
    ViewBag.Title = "BorrowBook";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Borrow Book</title>
    <style>
        .input-validation-error {
            border: 2px solid red;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>
<body>
    <div align="center">
        <h3 class="text-muted">Borrow Book</h3>
        <form method="POST" id="saveForm">
            <table>
                <tr>
                    <td>Enter Member No.</td>
                    <td><input class="form-control" type="text" id="MemberId" name="MemberId" /></td>
                </tr>
                <tr>
                    <td>Select a Book</td>
                    <td>
                        <select id="BookTitle" name="BookTitle" class="form-control">
                            <option value="">..Select....</option>
                            @foreach (Book book in ViewBag.BooksInfo)
                            {
                                <option value="@book.Id">@book.Title</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><input class="form-control" type="text" id="Author" name="Author" readonly /></td>
                </tr>
                <tr>
                    <td>Publisher</td>
                    <td><input class="form-control" type="text" id="Publisher" name="Publisher" readonly /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-success " type="submit" value="Save" /></td>
                </tr>
            </table>
        </form>
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Sorry, Member number doesn't exists")
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                @ViewBag.Message
            </div>
            }
            


        }

    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $().ready(function () {

            $("#BookTitle").change(function () {
                var stId = $("#BookTitle").val();
                //$("#CourseId").empty();
                var json = {
                    bookId: stId
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetBooksById","Book")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);

                        var author = data.Author;
                        var publisher = data.Publisher;

                        $("#Author").val(author);
                        $("#Publisher").val(publisher);
                    }
                });

            });
        });
    </script>
</body>
</html>
