@model Lab_Test_5_Set_D.Models.Book
@{
    ViewBag.Title = "SaveBook";
}

<style>
    .input-validation-error {
        border: 2px solid red;
    }

    .field-validation-error {
        color: red;
    }

    .center {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
</style>
@using (Html.BeginForm(FormMethod.Post))
{
    <div align="center">
        <h3 class="text-muted">Book Entry</h3>
        <table>
            <tr>
                <td>Title</td>
                <td>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Enter the Book Name" })
                    @Html.ValidationMessageFor(m => m.Title)
                </td>
            </tr>
            <tr>
                <td>Author</td>
                <td>
                    @Html.TextBoxFor(m => m.Author, new {@class = "form-control", placeholder = "Enter the Author Name"})
                    @Html.ValidationMessageFor(m => m.Author)
                </td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>
                    @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control", placeholder = "Enter the Publisher Name" })
                    @Html.ValidationMessageFor(m => m.Publisher)
                </td>
            </tr>

            <tr>
                <td></td>
                <td align="right"><input type="submit" class="btn btn-success" value="Save" /></td>
            </tr>
        </table>
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "This book has been saved")
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>
            }
        }

    </div>
}

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}